
<div class="content">
  <h4>Sorted by Name in Desc</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Created</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of options | customSort: ['-name'];">
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.created | date }}</td>
        <td>{{ item.desc }}</td>
      </tr>
    </tbody>
  </table>

  <h4>Sorted by Name in asc and price in desc</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Created</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of options | customSort: ['name', '-price'];">
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.created | date }}</td>
        <td>{{ item.desc }}</td>
      </tr>
    </tbody>
  </table>
</div>



<h2>Repeat Component</h2>
<app-repeat [option]="repeatData">
  <ng-template let-item>
    <div>{{ item.name }}</div>
  </ng-template>
</app-repeat>


<router-outlet />



